/* CSS Resets */
body {
  margin: unset;
  padding: unset;
}

h1, h2 {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

p {
  margin: unset;
  padding: unset;
}

input[type=text], button {
  all: unset;
}

input[type=text] {
  display: block;
  width: 100%;
}

button {
  display: block;
  width: 100%;
}

img {
  vertical-align: top;
  width: 100%;
}

/* Typography */
:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Layouts */ 
.viewport {
  min-height: 100vh;
  padding-block: 20px;
  box-sizing: border-box;
}

.wrapper{
  max-width: 900px;
  margin: 200px auto;
  padding-inline: 20px;
}


/* Components */
.header {
  text-align: center;
}

.header-title {
  font-size: 4.8rem;
  font-weight: bold;
}

.header-subtext {
  margin: 20px auto;
  color: #999;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-subtext::before, .header-subtext::after {
  content: '';
  display: block;
  height: 1px;
  width: 80px;
  background-color: #999;
}

.search-bar {
  width: 600px;
  height: 30px;
  margin: 0 auto 40px;;
  display: flex;
  padding: 10px;
  gap: 16px;
  border: 1px solid #ccc;
  border-radius:30px;
  position: relative;
}
.alert {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 1.6rem;
  color: rgb(228, 0, 0);
  transform: translate(20px, -50%);
}

#search {
  padding: 10px;
}
.search-bar:has(*:focus) {
  box-shadow: 0 0 10px #999;
}
.controls {
  padding-inline: 10px;
}
.button {
  height: 100%;
  text-align: center;
}
.search-icon {
  height: 100%;
}

.article {
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.article-main {
  grid-column-start: 1;
  grid-column-end: 4;
}
.article-title {
  font-size: 3.2rem;
  margin-bottom: 10px;
}
.article-info {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.article-info p {
  font-style: italic;
  color: #999;
}
.article-info a{
  font-style: italic;
}
.article-cover {
  min-width: 100%;
}