/*CSS Reset*/
body, p, ul {
    margin: initial;
    padding: initial;
}

h1, h2 {
    margin: initial;
    font-size: inherit;
    font-weight: inherit;
}

li {
    list-style-type: none;
}

/*Design*/

body {
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 800px;
    margin: 50px auto;
    background-color: rgb(230, 230, 230);
}

.wrapper .header {
    background-image: url(images/space_bg.jpg);
    background-size: cover;
    text-align: center;
    /* min-height: 400px; */
    padding: 60px 0;
    color: white;
    box-sizing: content-box;
}

.header img.profile {
    border: 5px solid white;
    border-radius: 50%;
}

.header h1 {
    font-size: 80px;
    font-weight: bold;
}

.header p {
    width: fit-content;
    margin: 0 auto;
    border-top: 5px solid white;
    padding-top: 10px;
}

.section {
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    color: rgb(30, 30, 30);
}

.section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgb(13, 5, 90);
}

.section.info {
    background-image: url(images/icon-information.png);
}

.section.skills {
    background-image: url(images/icon-skills.png);
}

.list li {
    border-left: 5px solid rgb(220, 220, 220);
    background-position: left center;
    color: rgb(220, 220, 220);
    padding: 5px;
}

.list li:hover {
    border-left: 5px solid rgb(13, 5, 90);
    color: rgb(13, 5, 90);
}

.footer {
    background-color: white;
    text-align: center;
    color: rgb(220, 220, 220);
    padding: 10px;
    letter-spacing: 1em; /* 자간 간격, 1em 은 요소의 폰트 크기(10px)*/
    font-size: 10px;
}