/* CSS Resets */
body {
  margin: unset;
}

img {
  width: 100%;
  vertical-align: top;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

fieldset {
  all: unset;
  display: block;
}

input[type="text"], input[type="email"], select {
  all: unset;
  display: block;
  width: 100%;
}


textarea {
  all: unset;
  display: block;
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  all: unset;
}

button {
  all: unset;
}

/* CSS Variables */
:root {
  --font-ko: "Noto Sans KR", sans-serif;
  --color-grey-10: #EFEFEF;
  --color-grey-20: #DDD;
  --color-grey-30: #D9D9D9;
  --color-grey-40: #AAA;
  --color-grey-50: #666;
  --color-grey-60: #333;
  --color-green-50: #70C994;
  --color-green-70: #5F9976;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --focus-shadow-input: 0 0 4px 1px var(--color-green-50);
  --focus-shadow-button: 0 0 4px 4px dodgerblue;
}

/* Typography */
:root {
  font-family: var(--font-ko);
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--color-grey-60);
}

/* Layout */
.viewport {
  min-height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* 그리드를 굳이 사용하지 않아도 됐음...*/
}

.section-form {
  margin-left: 50%;
  padding: 30px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 520px;
  margin: auto;
}


/* Commons */
.ir {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

label {
  display: block;
}

.input-outline {
  border: 2px solid var(--color-grey-20);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 13px 14px 15px;
  display: flex;
  align-items: center;
}

.input-outline:has(input:focus), 
.input-outline:has(select:focus), 
.input-outline:has(textarea:focus) {
  border-color: var(--color-green-50);
  box-shadow: var(--focus-shadow-input);
}

.select-arrow {
  width: 9px;
}

.option {
  display: flex;
  align-items: center;
}
.option::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid var(--color-grey-30);
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}
.option:has(input:checked)::before {
  background-color: var(--color-green-50);
  box-shadow: inset 0 0 0 5px var(--color-white);
}
.option:has(input:disabled) {
  color: var(--color-grey-40);
}
.option:has(input:disabled)::before {
  background-color: var(--color-grey-10);
}

.radio {
  height: 48px;
  padding: 12px 11px;
  border: 2px solid var(--color-grey-20);
  box-sizing: border-box;
  border-radius: 4px;
}
.radio:has(input:focus) {
  border-color: var(--color-green-50);
  box-shadow: var(--focus-shadow-input);
}
.radio:has(input:disabled) {
  border-color: var(--color-grey-20);
  background-color: var(--color-grey-10);
}

.option.check::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 3px solid var(--color-grey-30);
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
}
.option.check:has(input:focus)::before {
  border-color: var(--color-green-50);
  box-shadow: var(--focus-shadow-input)
}
.option.check:has(input:checked)::before {
  background-color: white;
  box-shadow: none;
  background-image: url(images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  width: 100%;
  height: 64px;
  line-height: 64px; 
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-green-50);
  border-radius: 4px;
}
.button:focus {
  box-shadow: var(--focus-shadow-button);
}

/* Components */
.cover {
  height: 100vh;
  width: 50%;
  position: fixed;
  left: 0;
  top: 0;
}

.cover-src {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-title {
  margin-bottom: 34px;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-green-70);
}

.form-item {
  margin-bottom: 30px;
}

.input-label {
  margin-bottom: 12px;
}

.choice-group.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 18px;
}

.choice-group.flex {
  display: flex;
  gap: 18px;
}

@media (max-width: 700px) {
  .cover {
    display: none;
  }
  .section-form {
    margin: 0 auto;
  }
}